@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
     /* background: url('fog.jpg') no-repeat center center fixed;  */
     background: url('frimg.jpg') no-repeat center center fixed; 
    background-size: cover;
}
.container{
    /* border: 5px solid black; */
    width: 460px;
    position: absolute;
    top: 30%;
    left: 60%;
}
.container h1{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid rgb(46, 27, 46);
    margin-bottom: 23px;
    padding: 13px;
}
.box{
    width: 100%;
    /* border: 2px solid red; */
    border-bottom: 4px solid rgb(46, 27, 46);
}
.box input{
    background: none;
    width: 80%;
    margin: 9px 3px; 
    padding: 9px 3px;
    font-size: 20px;
    font-weight: bolder;
    border:none; 
    outline: none;
    color: black;
}
.box i{
    width: 42px;
    /* float: left; */
    text-align: center;
}
.butn{
    background: none;
    border: none;
    border-bottom: 2px solid rgb(46, 27, 46);
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 12px 0;
    padding: 6px;
    /* border: 2px solid purple; */
    border-radius: 10px;
    font-weight: bold;
    font-size: 21px;
}
.butn:hover{
    color:black;
    background: white;
    opacity: 0.5;
}
::-webkit-input-placeholder{
    color: rgb(46, 43, 43);

}