.right{
    position:absolute;
    right:34px;
    top:10px;
    display:inline-block;
    border:none;
    color:white;
}
.btn{
    margin:2px;
    padding:10px 15px;
    background:none;
    color:black;
    border-radius:14px;
    font-size:20px;
    cursor:pointer;
    }
    .btn:hover{
        background-color:rgb(155, 155, 185);
    }